<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shahriar.travellers">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="rgwWlavUPSxGW7bHix8aDJStLfXvjYJHZl5Wrxd4" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="muXZKFHmiDTr2fGk725JQtk78NJQhg4PLHi3L2k7" />

        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".DivisionActivity"
            android:label="@string/title_activity_division"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlacesActivity"
            android:label="@string/title_activity_places"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LogInActivity"
            android:label="@string/title_activity_log_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
